* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(35deg, black, blue, red, red, blue, black);
    padding-top: 1.5rem;    
}

body {
    font-family: "Braah One", sans-serif;
    background-color: rgb(255, 255, 255);
    max-width: 2200px;
    
  }

footer {
    background-image: linear-gradient(35deg, black, blue, red, red, blue, black);
    background-size: cover;
    margin-top: 2rem;
    padding: 2rem;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px #1437c1;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 70px;
    padding: 0.5rem;
}

h2 {
    text-align: center;
    text-shadow: 2px 1px #030303;
    color: rgb(255, 0, 0);
    font-size: 55px;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

h3 {
    text-align: center;
    text-shadow: 2px 1px #030303;
    color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: bold;
    margin-top: 2.0rem;
    margin-bottom: 0.5rem;
}

.nav {
    text-align: center;
    padding: 1rem;
    color: white;
}
.nav ul {
    list-style: none;  
    
}

.nav ul li a {
    text-decoration: none;
    color: yellow;
    padding: 0.6rem 0.6rem 0rem 0.6rem;
    margin-left: 1rem;
    font-size: large;
    background-color: rgb(29, 52, 144); 
    border-radius: 6px;
    z-index: 1;
}

.nav ul li a:hover {
    color: rgb(8, 1, 0);
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin: auto;   
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin: auto;
}

.container2 div {
    display: flex;
    flex-direction: column;
}

.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin: auto;
}

.container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin: auto;
}

.container5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(35deg, black, blue, red, red, blue, black);
    border-radius: 10px;
    margin: auto;
    padding: 2.0rem;
    width: 20rem;
}

.container5 .form_style {
    display: flex;
    flex-direction: column;
    width: auto;
    border-radius: 5px;
    gap: 1rem;
}

input {
    font-size: 12px;
    font-weight: bold;
    color: red;
    padding: 5px;
    
}

input::placeholder {
    font-size: 12px;
    color: rgba(255, 0, 0, 0.462);
    border: none;
}

textarea {
    font-weight: bold;
    color: red;
    padding: 5px;
}

textarea::placeholder {
    text-align: center;
    color: rgba(255, 0, 0, 0.462);

}

.container5 .form_button {
    color: red;
    width: 6rem;
    margin: auto;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    padding: 7px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.container1 .manga_img{
    width: 10rem;
    padding: 0.3rem;
    transition: transform 1500ms ease-in-out;
}

.manga_img:hover{
    transform: scale(1.3);
}

.container2 .anime_img {
    width: 15.5rem;
    padding: 0.5rem;
    transition: transform 1500ms ease-in-out;   
}

.anime_img:hover {
    transform: scale(1.2);
}

.container3 .ovamovie_img {
    width: 16rem;
    transition: transform 1500ms ease-in-out;
}

.ovamovie_img:hover {
    transform: scale(1.2);
}

.container4 .complete_img {
    width: 14rem;
    transition: transform 1500ms ease-in-out;
}

.complete_img:hover {
    transform: scale(1.2);
}

.cart_button {
    background-color: rgb(35, 248, 7);
    border: none;
    border-radius: 5px;
    padding: 7px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-top: 1.5rem;
    cursor: pointer;
}

.cart_button:hover {
    background-color: yellow;
    color: black;
    transition: 1000ms ease;
    transform: rotate(360deg);
}

.header_p {
    text-align: center;
    text-shadow: 1px 1px #1437c1;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    padding: 0.5rem;
}

.section_p {
    text-align: center;
    text-shadow: 1px 1px rgb(220, 51, 14) ;
    color: rgb(9, 35, 166);
    padding-bottom: 2rem;
}

.copyrights{
    text-align: center;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px #030303;
}



#cart_cards {   
    border-radius: 7px;
    color: #030303;
    width: 15rem;
    margin: auto;
    padding: 0.1rem;
}

#cart_cards .itemStyle {
    justify-content: center;
    background-image: linear-gradient(35deg, black, blue, red, red, blue, black);
}

.cart_img {
    width: 6rem;
    border-radius: 5px;
}

.cart_p {
    font-size: large;
    margin-top: 1.5rem;
    text-shadow: 2px 1px #030303;
    color: rgb(64, 0, 255);
}

.cart_p2{
    font-size: larger;
    text-shadow: 2px 1px #030303;
    color: rgb(64, 0, 255);
}

.itemStyle {
    background-color: rgba(77, 83, 75, 0.772);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
    margin: 1rem;
    margin-bottom: 1rem;
}

.itemStyle .delete_button {
    background-color: red;
    color: white;
    margin-top: 1rem; 
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 5px;
    cursor:pointer ;
}

.info{
    color: white;
    background:black;
    padding-bottom: 0.3rem;
    background-image: linear-gradient(135deg, black, blue, red, red, blue, black);
}

.total_cart{
    display: flex;
    justify-content: center;
}

.button_cart {
    font-family: "Braah One", sans-serif;
    text-decoration: none;
    color: yellow;
    padding: 0.6rem 0.6rem 0rem 0.6rem;
    margin-left: 1rem;
    font-size: large;
    background-color: rgb(20, 52, 181); 
    border-radius: 6px;
    border: none;

}

.button_cart:hover {
    color: rgb(8, 1, 0);
    
}